<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="nav-links-container d-flex flex-direction-row">
                <a href={{ path('app_homepage') }} class="nav-link">Home</a>
                <a href={{ path('app_todo') }} class="nav-link">To Do List</a>
                <a href="#" class="nav-link">Another Page</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="mt-5 p-3 text-center bg-secondary text-white position-absolute w-100 bottom-0">
            I will sue you if you use any of this code!!! JK mate!<br>
            This awesome joke is presented by <b>Ilker Akbiyik</b>
        </footer>
    </body>
</html>
