{% extends 'base.html.twig' %}

{% block title %}Hello DetailedController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 960px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper d-flex flex-column justify-content-center align-items-center">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Detailed information</h2>
    <p>Item Id: {{detailed.id}}</p>
    <p>Item Name: {{detailed.name}}</p>
    <p>Item Info: {{detailed.info}}</p>
</div>
{% endblock %}
